body {
  background: #36393f;
  font-family: 'Roboto', sans-serif;
  color: #fcfcfc;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
}
